body {
  background-color: #577C8A;
  font-size: 250%;
}

.bulletin-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 150%;
  font-weight: bold;
  color: #FBE251;
  text-align: center;
}